<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Remo</title>
    </head>

    <body>

        <h1>Welcome to our remo 🗃 cafe 🗃 </h1>

        <form action="/cafe" method="POST">
            <input type="text" name="topic" id="topic" placeholder="topic"><br>
            <input type="text" name="interviewee" id="interviewee" placeholder="interviewee"><br>
            <input type="text" name="interviewer" id="interviewer" placeholder="interviewer"><br>
            <input type="text" name="tableNameId" id="tableNameId" placeholder="tableNameId"><br>
            <input type="submit" value="Go to the table">
        </form>



        <script src="./js/entrance.js"></script>
    </body>

</html>
